---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; url=/compensaylor.html" />
  </head>
  <body>
    <!-- Redirige a la versión estática -->
  </body>
</html>
