---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; url=/crosschyze.html" />
  </head>
  <body>
    <!-- Redirige a /public/crosschyze.html -->
  </body>
</html>
